
	  <h1><b>ABOUT ME</b></h1>
	  <body>
	  	<p>
	  		I am second year at the University of California, Berkeley and I am pursuing Bachelor of Arts degree in Computer Science. I want to establish a career as a Software Engineer because with coding I feel that there is endless amount to learn and continue growing.
	  	<br />
	  	<br />
			While I enjoy coding, I also like to immerse myself in other hobbies. I like outdoor activities such as tennis, going out with friends to explore, and most of all creating things.

	  	</p>
	  </body>
	  <br />
	  <center>
	  	  <h2><b>CONTACT</b></h1>
			 <body>
			  <p>
			  	Email: alicechin@berkeley.edu
			  </p>
	  		</body>	
	  </center>


