<center>
	  <h1><font face = "Comic Sans MS" style="cursive"><b>ABOUT ME</b></font></h1>
	  <body>
	  	<p>
	  		I am second year at the University of California, Berkeleyand am pursuing Bachelor of Arts degree in Computer Science. I aspire to establish a career as a Software Engineer and am always looking for opportunities to learn and grow.

			While I enjoys coding, I also like to immerse myself in other hobbies. I interned at Pacific Farms where I gained valuable marketing and business skills. She has also taken part in a variety of leadership roles such as Captain of her high school tennis team, President of Students in Action Club, and being an ACT coordinator.

	  	</p>
	  </body>
</center>