<body>
<center style: "height: 100%;">
	  <h1><b> WELCOME TO MY WEBPAGE</b></h1>
</center>

<img align="left" src="/assets/pic.jpg" width="550">

<br />
<br />
<center>
<div id="rectangle" style="width:250 px; height:300px; background-color: PowderBlue ">
<font style="font-family: 'Pacifico', cursive;" size = "50px;" >
"You  Learn <br /> Something everyday if <br /> you pay attention" <br /> 
</font>
<font style="font-family: 'Vollkorn', serif;" size = "20px;"  > 
- Ray LeBlond
</font>
</div>
</center>
</body>