

<body>

<center>
	  <h1><font face = "Comic Sans MS" style="cursive"><b> WELCOME TO MY WEBPAGE</b></font></h1>
</center>

<img align="left" src="/assets/pic.jpg" width="600"> 
<center><div class="quote">
"You Learn Something everyday if you pay attention"
</center></div>

</body>
