<body>
<center>
	  <h1><b>Resume</b></h1>
	  
	  <iframe src="assets/Alice'sResume.pdf" width="1000" height="500">
	 <!--  <a href="file:///Users/A-Chizzle/Desktop/resume/Alice'sResume.pdf">CLICK ME</a>
	  </p>
	  <a href="file:///Users/A-Chizzle/Desktop/resume/Alice'sResume.pdf">CLICK ME</a> -->
	<!--<!--   <%= image_tag("Alice'sResume.jpg",alt: "Will Be Fixed Soon!", width: "550", align: "center")%> --> -->
</center>

</body>
